.project-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.project-image {
    width: 90%;
    height: auto;
    padding-top: 16px;
    margin-left: 40px;
     
}

@media only screen and (max-width: 768px) {

    .project-box {
        display: block;
    }

    .project-image {
        margin-left: 10px;
    }

    .blog-title{
        margin-left: 10px;
        padding-left: 0px;
    }
}