a:visited {
    color:black;
}
body {
    margin: 1% 15% 0 15%;
    background-color: rgb(224, 207, 207);
    font-size: 16px;
    font-family: 'Roboto';
    margin-top: 0;
}

.wrapper {
    background-color: rgb(181, 230, 238);
}

.title {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    margin: 0px;
}

.main-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-right: 0;
    margin-left: 0px;
}

.basic-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-right: 0;
    margin-left: 0px;
}

.main-column {
    background-color: rgb(181, 230, 238);
    margin: 20px 10px;
}

.column {
    padding: 5px;
}

.welcome-message {
    margin: 10px;
    padding-top: 60px;
}

.container {
    display: flex;

}

.content-container{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 100px;
    margin-bottom: 50px;
    padding-bottom: 30px;
}

.white-space {
    margin-bottom: 50%;
}


.sidebar-header {
    text-align: center;
    margin-bottom: 0;
}
/** Navigational styling */

#nav-table {
    border-style: solid;
    background-color: rgb(5, 113, 255);
    height: auto;
}

#nav-table ul {
    
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#nav-table li {
    background-color: rgb(78, 155, 255);
    font-size: 25px;
    font-weight: 550;
    padding: 3px 0px 3px 10px;
    margin-bottom: 5px;
}

#nav-table li:hover {
    background-color: rgb(50, 138, 252); 
}

#nav-table a {
    text-decoration: none;
}

/** cookie crumbs styling */

.cookie-crumbs {
    background-color: black;
    margin: 0;
    color: white;
    padding: 10px 16px;
    list-style: none;
}

.cookie-crumbs li {
    display: inline;
    font-size: 18px;
  }
  
  /* Add a slash symbol (/) before/behind each list item */
.cookie-crumbs li+li:before {
    padding: 8px;
    color: white;
    content: "/\00a0";
}

.cookie-crumbs a {
      text-decoration: none;
      color: white;
}

.cookie-crumbs a:visited {
    text-decoration: none;
    color: white;
}

.cookie-crumbs a:hover {
    text-decoration: none;
    color: rgb(182, 182, 182);
}

.thumbnail {
    margin-top: 30px;
    width: 100%;
    height: auto;
    object-fit: contain;
}
/** specific styling */

#headshot {
    border-radius: 100px;
    border-style: solid;
    border-width: 4px;
    box-shadow: 4px 4px 2px grey;
}

#about-me{
    background-color: white;
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-right: 0;
    margin-left: 0px;
    padding: 5px;
    grid-template-columns: 1fr 3fr; 
    border: solid; 
    border-width: 3px;
    padding: 10px;
}

/** FOOTER STYLING */

.widgets {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    list-style-type: none;
    margin: auto;
    padding: 5px 0;
}

.widgets li {
    display: inline;
    margin: 5px 20px;
}

.widgets img {
    background-color: white;
    border-radius: 22px;
    height: auto;
    width: 70px;
}