.basic-container {
    background-color: rgb(218, 204, 204);
    margin-left: 0px;
    padding: 5px;
}

.column {
    background-color: rgb(181, 230, 238);
    margin: 5px;
}


/** Blog body styling */

h2 {
    font-size: 28px;
    margin-left: 40px;
    margin-bottom: 5px;
}

.blog-date {
    margin-top: 5px;
    margin-left: 40px;
}

.blog-image {
    width: 70%;
    height: auto;
    margin-left: 15%
}

.blog-content {
    margin-left: 10%;
    margin-right: 10%;
} 

.featured-blog {
    list-style: none;
    padding-left: 0;
}

.featured-blog li:nth-child(even){
    background-color: rgb(156, 224, 233)
}

.featured-blog li {
    padding-bottom: 35px;
    padding-top: 35px;

    
}