body {
    margin: 1% 15% 0 15%;
    background-color: rgb(218, 204, 204);
}

.wrapper {
    background-color: white;
}

.title {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    margin: 0px;
}

.basic-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-left: 5%;
    margin-right: 0;
    margin-top: 100px;
}

.welcome-message {
    margin: 10px;
    margin-bottom: 90%;
}

.container {
    display: flex;

}

#nav-table {
}

.content-container{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 100px;
}

/** Navigational styling */

.down-arrow {
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
    height: 50px;
    width: auto;
}

#down-scroll {
    margin-left: 32.5%;
    margin-bottom: 10px;
    position: fixed;
    bottom: 0;
}