---
layout: wrapper
header: Community Blog
---

<style>
    #community-nav{
        border-bottom: solid;
        border-width: 8px;
    }

</style>

<div>
    <div class="top-bar">
        <ul class="cookie-crumbs">
            <li><a href="/index.html" rel="noreferrer">Home</a></li>
            <li><a href="/pages/BlogDashboard" rel="noreferrer">Blog Dashboard</a></li>
            <li>Community Blog</li>
        </ul>
        <a id="nav-toggle" onclick="myFunc()">&#9776;</a>
    </div>
    <nav id="mobile-nav-table" style="display: none">
        <ul id="mobile-nav-list">
            <a href="/index.html" rel="noreferrer"><li>Home</li></a>
            <a href="/pages/BlogDashboard.html" rel="noreferrer"><li>Blog Dashboard</li></a>
            <a href="/resume.pdf" rel="noreferrer"><li>Resume</li></a>
            <a href="/pages/Projects.html" rel="noreferrer"><li>Projects</li></a>
        </ul>
    </nav>
    
</div>
{% include section-nav.html %}
<!-- <h2 class="blog-header"> Featured Blog Posts </h2>  -->
<ul class = "featured-blog">
    {% for post in site.posts %}
        {% if post.section == "community" %}
            {% if post.layout != 'script-post' %}
                <li>{% include blog-entry.html link=post.url title=post.title excerpt=post.excerpt image=post.image publish_date=post.publish-date %}</li>
            {% endif %}
        {% endif %}
    {% endfor %}
</ul>
