---
layout: wrapper
header: My Blog
---

<div>
    <div class="top-bar">
        <ul class="cookie-crumbs">
            <li><a href="/index.html" rel="noreferrer">Home</a></li>
            <li><a href="/pages/BlogDashboard" rel="noreferrer"> Blog Dashboard</a></li>
            <li>{{ page.title }}</li>
        </ul>
        <a id="nav-toggle" onclick="myFunc()">&#9776;</a>
    </div>
    <nav id="mobile-nav-table" style="display: none">
        <ul id="mobile-nav-list">
            <a href="/index.html" rel="noreferrer"><li>Home</li></a>
            <a href="/pages/BlogDashboard.html" rel="noreferrer"><li>Blog Dashboard</li></a>
            <a href="/resume.pdf" rel="noreferrer"><li>Resume</li></a>
            <a href="/pages/Projects.html" rel="noreferrer"><li>Projects</li></a>
        </ul>
    </nav>
    
</div>
<h2 class="blog-title">{{ page.title }}</h2>
<p class="blog-date">{{ page.publish-date }}</p>
    <img class="blog-main-image" src="{{ page.image }}"/>
    <div class="blog-content">
        {{ content }}
    </div>
