---
permalink: /home.html
title: index
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Connor Buchko</title>
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
        <link href="/css/style.css" rel="stylesheet" type="text/css" />
        <link href="/css/BlogStyles.css" rel="stylesheet" type="text/css" />    
    </head>
    <body>
        <header class="title">
            <h1>{{ page.header }}{{ layout.header }}</h1>
        </header>
        <div class="basic-container">
            <div class="column">
            {{ content }}
            </div>
            <div class="column">
                <nav id="nav-table">
                    <ul>
                        <a href="/index.html"><li>Home</li></a>
                        <a href="/pages/BlogDashboard.html"><li>Blog Dashboard</li></a>
                        <a href="/resume.pdf"><li>Resume</li></a>
                        <li>Projects</li>
                    </ul>
                </nav>
                <h2 class="sidebar-header">Featured Blog Posts</h2>
                {% for post in site.posts %}
                    {% if post.featured == true %}
                    <a href="{{ post.url }}">
                        <img class="thumbnail" src="{{ post.image }}" />
                        <p style="margin: 0px 7px; text-align: center;">{{ post.title }}</p>  
                    </a>   
                    {% endif %}              
                {% endfor %}
            </div>              
        </div>
    </body>
</html>