.basic-container {
    background-color: rgb(218, 204, 204);
    margin-left: 0px;
    padding: 5px;
}

.column {
    background-color: rgb(181, 230, 238);
    margin: 5px;
}

h2 {
    padding-left: 40px;
}